# Node modules
/node_modules/

# Cypress configurações e caches locais
/cypress/videos/
/cypress/screenshots/
/cypress/results/
# /cypress/fixtures/*

# Arquivos de logs e temporários
npm-debug.log
yarn-debug.log
yarn-error.log

# Arquivos de dependências do npm
package-lock.json

# Cypress artifacts
cypress/videos/
cypress/screenshots/
cypress/reports/